@media (max-width: 420px) {
    .conteudo {
        color: gray;
    }
    .texto::after {
        content: "collor: gray";
    }
}

@media (max-width: 768px) and (min-width: 419px) {
    .conteudo {
        color: sandybrown;
    }
    .texto::after {
        content: "collor: laranja";
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .conteudo {
        color: pink;
    }
    .texto::after {
        content: "collor: pink";
    }
}

@media (max-width: 1080px) and (min-width: 1025px) {
    .conteudo {
        color: salmon;
    }
    .texto::after {
        content: "collor: salmon";
    }
}

@media (max-width: 1366px) and (min-widhth: 1079px) {
    .conteudo {
        color: blue;
    }
    .texto::after {
        content: "collor: blue";
    }
}

@media (max-width: 1920px) and (min-width: 1365px) {
    .conteudo {
        color: yellow;
    }
    .texto::after {
        content: "collor: yellow";
    }
}